/* offcanvas-menu.component.css */
.offcanvas-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Inicialmente fuera de la pantalla */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.offcanvas-menu ul {
  list-style-type: none;
  padding: 0;
}

.offcanvas-menu li {
  padding: 10px;
  border-bottom: 1px solid #555;
}

.offcanvas-menu a {
  text-decoration: none;
  color: #fff;
}

.offcanvas-menu.open {
  left: 0; /* Muestra el menú */
}
