body {
  font-family: sans-serif;
  
  margin: 0px;
}

.prueba{
    background-color: #62a8ea;
    width: 100wh;
	height: 90%;	
}
.imagen1{
	max-width:100%;
	max-height: 90%;

}


.prueba + div{
	background-color: white;
	height: 10%;
}

input + button {
	margin-top: 10px;	
}

button{
  background-color: white;
  color: black;
  font-size: 30px;
  border: thick double #32a1ce;
}

h1{
  background-color: transparent;
  margin: 0px;
  text-align: center;
  color: white;
}
h1::after{
  content: " del Uruguay";
  background-color: transparent;
  margin: 0px;
  text-align: center;
  color: #0E38A0;
}

button:hover{
  background-color: blue;
  color: green;
  font-size: 30px;
  border: thick double #32a1ce;
}

div h1{
	font-size: 30px
}

@media (width<600px){
	div h1{
		font-size: 8px;	
	}
	div h2{
		font-size: 8px;	
	}
	.imagen1{
	max-width:50%;
	max-height:50%;

}
}